body{
    background: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-top:200px;
}

div{
    position: relative;
    border: 20px solid #8F8F8F;
    /* background: #8F8F8F; */
    width: 40px;
    height: 40px;
    aspect-ratio: 1;
    margin-inline: 1px;
    border-radius: 50%;
}

.a{
    border-color: #714B67;
}

.b::after{
    position: absolute;
    content: '';
    width: 20px;
    height: 70px;
    border-radius: 100vw;
    background: #8F8F8F;
    top: -50px;
    right: -20px;
}