/*SELECTORES*/
body{
    color: orange;
}

#titulo{
    color:aqua ;
}
p.texto{
    color:slateblue;
}

p.Tres{
    color: brown;
}

div p {
    color: blue;
}

div h2, div h3{
    color: red;
}

*{
    font-size: 24px;
    color: black;
}

/*Esto es un comentario*/

/*PROPIEDAD COLOR*/



/*Colores HEXADECIMAL*/
/*
.color{
    color: #444;
}
*/
/*
.color{
    color: #ff0000;
}
*/



/*Colores RGB*/
/*
.color{
    color:rgb(0, 155, 255);
}
*/

.color{
    /* border: 5px gray outset; */

    /* 
    dashed
    solid 
    dotted
    double 
    groove 
    ridge
    inset
    outset
    none
    hidden
    */

    border-style: solid;
    border-color: blue;
    border-radius: 5px;
    border-width: 2rem;
}

#fondo{
    background-color: rgba(0,233,0);
    /* opacity: 0.3; */
    background-image: url('img.jpg');
    height: 300px;
    background-size: cover;
    /* contain
    cover
    auto */

    
    background-repeat: repeat-y;
    background-position: center top;

    background: #f00 url('img.jpg') repeat-x center left /100px 100px;
    background-size: 200px 200px;
}
