/*SELECTORES*/
body{
    color: orange;
}

#titulo{
    color:aqua ;
}
p.texto{
    color:slateblue;
}

p.Tres{
    color: brown;
}

div p {
    color: blue;
}

div h2, div h3{
    color: red;
}

*{
    font-size: 24px;
    color: black;
}

/*Esto es un comentario*/