/*SELECTORES*/
body{
    color: orange;
}

#titulo{
    color:aqua ;
}
p.texto{
    color:slateblue;
}

p.Tres{
    color: brown;
}

div p {
    color: blue;
}

div h2, div h3{
    color: red;
}

*{
    font-size: 24px;
    color: black;
}

/*Esto es un comentario*/

/*PROPIEDAD COLOR*/



/*Colores HEXADECIMAL*/
/*
.color{
    color: #444;
}
*/
/*
.color{
    color: #ff0000;
}
*/



/*Colores RGB*/
/*
.color{
    color:rgb(0, 155, 255);
}
*/

.color{
    /* border: 5px gray outset; */

    /* 
    dashed
    solid 
    dotted
    double 
    groove 
    ridge
    inset
    outset
    none
    hidden
    */

    border-style: solid;
    border-color: blue;
    border-radius: 5px;
    border-width: 2rem;
}


